<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="/main_layout">
<head>
    <title th:text="#{user_form}">User Form</title>
    <th:block layout:fragment="style">
        <link rel="stylesheet" type="text/css" th:href="@{/res/assets/plugins/validationEngine/validationEngine.jquery.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/res/assets/plugins/customselect/customselect.css}">
    </th:block>
</head>
<body>
<div layout:fragment="content" th:remove="tag">
    <div class="main-container">

        <div class="page-header">
            <h1 th:text="${IS_UPDATE}?#{update_user_info} : #{create_new_user}">User Form</h1>
            <ol class="breadcrumb">
                <li><a th:href="@{/}" th:text="#{home}">Home</a></li>
                <li class="active" th:text="${IS_UPDATE}?#{update} : #{create}">User Form</li>
            </ol>
        </div>

        <div class="content-wrap">  <!--START: Content Wrap-->

            <div class="row">

                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title" th:text="${IS_UPDATE}?#{update_user_info} : #{create_new_user}"">Create New User</h3>
                        </div>
                        <div class="panel-body">

                            <form th:action="${IS_UPDATE}?@{/user/update(hashcode = ${USER.mHashCode})} : @{/user/save}" th:method="POST" th:object="${USER}" class="form-validate" role="form">
                                <div class="form-body">

                                    <div class="form-group">
                                        <label for="username" th:text="#{user_name}">Username</label>
                                        <input type="text" th:field="*{mUsername}" name="username" id="username" class="form-control" th:placeholder="#{user_name}">
                                    </div>

                                    <div class="form-group">
                                        <label for="gender" th:text="#{gender}">Gender</label><br/>
                                        <select th:field="*{mGender}" id="gender" name="gender" class="form-control custom-Select">
                                            <option value="Female" th:text="#{female}" th:selected="*{mGender}=='Female'?true:false">Female</option>
                                            <option value="Male" th:text="#{male}" th:selected="*{mGender}=='Male'?true:false">Male</option>
                                        </select>
                                    </div>

                                    <div class="form-group">
                                        <label for="email" th:text="#{email}">Email Address</label>
                                        <input type="email" th:field="*{mEmail}" class="form-control" id="email" name="email" th:placeholder="#{email}">
                                    </div>

                                    <div class="form-group">
                                        <label for="phoneNumber" th:text="#{phone_number}">Phone Number</label>
                                        <input type="tel" th:field="*{mPhoneNumber}" class="form-control" id="phoneNumber" name="phoneNumber" th:placeholder="#{phone_number}">
                                    </div>

                                </div>

                                <div class="form-actions fluid">
                                    <div class="col-md-12 text-right">
                                        <button type="submit" class="btn btn-info" th:text="${IS_UPDATE}?#{update} : #{create}">Submit</button>
                                    </div>
                                </div>
                            </form>

                        </div>  <!-- END: Panel Body -->
                    </div>  <!-- END: Panel -->
                </div>
            </div>
        </div>
    </div>
</div>
<th:block layout:fragment="script">
    <script th:src="@{/res/assets/plugins/customselect/jquery.customselect.js}"></script>
    <script th:src="@{/res/assets/plugins/validationEngine/jquery.validationEngine.js}"></script>
    <script th:src="@{/res/assets/plugins/validationEngine/languages/jquery.validationEngine-en.js}"></script>
    <script th:src="@{/res/assets/plugins/validation/jquery.validate.min.js}"></script>
    <script type="text/javascript" th:src="@{/res/assets/js/page-validation.js}"></script>
    <script>
        jQuery(document).ready(function () {
            FormValidationInline.init();
            FormValidationTooltip.init();
        });
    </script>
</th:block>


</body>
</html>