<script type="text/javascript" th:src="@{/res/assets/plugins/lib/jquery-2.2.4.min.js}"></script>
<script type="text/javascript" th:src="@{/res/assets/plugins/lib/jquery-ui.min.js}"></script>
<script type="text/javascript" th:src="@{/res/assets/plugins/bootstrap/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/res/assets/plugins/lib/plugins.js}"></script>

<script type="text/javascript" th:src="@{/res/assets/plugins/flot/excanvas.min.js}"></script>
<script type="text/javascript" th:src="@{/res/assets/plugins/flot/jquery.flot.min.js}"></script>
<script type="text/javascript" th:src="@{/res/assets/plugins/flot/jquery.flot.tooltip.js}"></script>
<script type="text/javascript" th:src="@{/res/assets/plugins/flot/jquery.flot.resize.min.js}"></script>
<script type="text/javascript" th:src="@{/res/assets/plugins/flot/jquery.flot.crosshair.min.js}"></script>
<script type="text/javascript" th:src="@{/res/assets/plugins/flot/jquery.flot.pie.min.js}"></script>

<script type="text/javascript" th:src="@{/res/assets/plugins/lib/sparklines.js}"></script>
<script type="text/javascript" th:src="@{/res/assets/plugins/lib/jquery.knob.min.js}"></script>
<script type="text/javascript" th:src="@{/res/assets/plugins/monthly/js/monthly.js}"></script>
<script type="text/javascript" th:src="@{/res/assets/plugins/emojionearea/emojionearea.min.js}"></script>

<script type="text/javascript" th:src="@{/res/assets/js/app.base.js}"></script>
<script type="text/javascript" th:src="@{/res/assets/js/cmp-todo.js}"></script>
<script type="text/javascript" th:src="@{/res/assets/js/page-dashboard.js}"></script>