<script type="text/javascript" th:src="@{/res/assets/plugins/lib/modernizr.js}"></script>
<link rel="icon" th:href="@{/res/assets/images/favicon.png}" type="image/gif">

<link rel="stylesheet" type="text/css" th:href="@{/res/assets/plugins/bootstrap/bootstrap.css}">
<link rel="stylesheet" type="text/css" th:href="@{/res/assets/plugins/monthly/css/monthly.css}">
<link rel="stylesheet" type="text/css" th:href="@{/res/assets/plugins/emojionearea/emojionearea.min.css}">

<link rel="stylesheet" type="text/css" th:href="@{/res/assets/css/main.css}">
<link rel="stylesheet" type="text/css" th:href="@{/res/assets/css/style-default.css}">