<header class="header-top navbar fixed-top">

    <div class="top-bar">   <!-- START: Responsive Search -->
        <div class="container">
            <div class="main-search">
                <div class="input-wrap">
                    <input class="form-control" type="text" th:placeholder="#{search_here}">
                    <a th:href="@{/pagenotfound}"><i class="sli-magnifier"></i></a>
                </div>
                <span class="close-search search-toggle"><i class="ti-close"></i></span>
            </div>
        </div>
    </div>  <!-- END: Responsive Search -->

    <div class="navbar-header">
        <button type="button" class="navbar-toggle side-nav-toggle">
            <i class="ti-align-left"></i>
        </button>

        <a class="navbar-brand" th:href="@{/}">
            <img th:src="@{/res/assets/images/logo-w.svg}">
            <span th:text="#{big_ben_admin}"></span>
        </a>

        <ul class="nav navbar-nav-xs">  <!-- START: Responsive Top Right tool bar -->
            <li>
                <a href="javascript:" class="collapse" data-toggle="collapse" data-target="#headerNavbarCollapse">
                    <i class="sli-user"></i>
                </a>
            </li>
            <li>
                <a href="javascript:" class="search-toggle">
                    <i class="sli-magnifier"></i>
                </a>
            </li>

        </ul>   <!-- END: Responsive Top Right tool bar -->

    </div>

    <div class="collapse navbar-collapse" id="headerNavbarCollapse">

        <ul class="nav navbar-nav">

            <li class="hidden-xs">
                <a href="javascript:" class="sidenav-size-toggle">
                    <i class="ti-align-left"></i>
                </a>
            </li>

            <li class="main-search hidden-xs">
                <div class="input-wrap">
                    <input class="form-control" type="text" th:placeholder="#{search_here}" style="width: 300px;">
                    <a th:href="@{/pagenotfound}"><i class="sli-magnifier"></i></a>
                </div>
            </li>

        </ul>

        <ul class="nav navbar-nav navbar-right">

            <li>
                <a th:text="#{khmer}" th:href="@{?lang=kh}"></a>
            </li>

            <li>
                <a th:text="#{en}" th:href="@{?lang=en}"></a>
            </li>

            <li class="user-profile dropdown">
                <a href="javascript:" class="clearfix dropdown-toggle" data-toggle="dropdown">
                    <img th:src="@{/res/assets/demo/users/img-user-07.jpg}" alt="" class="hidden-sm">
                    <div class="user-name" th:inline="text">[[#{username}]]
                        <small class="fa fa-angle-down"></small>
                    </div>
                </a>
                <ul class="dropdown-menu dropdown-animated pop-effect" role="menu" th:inline="text">
                    <li><a th:href="@{/pagenotfound}"><i class="sli-user"></i>[[#{my_profile}]]</a></li>
                    <li><a th:href="@{/pagenotfound}"><i class="sli-calendar"></i>[[#{calendar}]]</a></li>
                    <li><a th:href="@{/pagenotfound}"><i class="fa fa-envelope-o"></i>[[#{inbox}]]</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a th:href="@{/pagenotfound}"><i class="sli-question"></i>[[#{faq}]]</a></li>
                    <li><a th:href="@{/pagenotfound}"><i class="sli-logout"></i>[[#{logout}]]</a></li>
                </ul>
            </li>

        </ul>

    </div><!-- END: Navbar-collapse -->

</header>   <!-- END: Header -->