<aside class="side-navigation-wrap sidebar-fixed">  <!-- START: Side Navigation -->
    <div class="sidenav-inner">

        <ul class="side-nav magic-nav">

            <li class="side-nav-header" th:text="#{navigation}">Navigation</li>

            <li>
                <a th:href="@{/dashboard}">
                    <i class="sli-dashboard"></i>
                    <span class="nav-text" th:text="#{dashboard}">Dashboard</span>
                </a>
            </li>

            <li>
                <a th:href="@{/user-form}">
                    <i class="sli-user"></i>
                    <span class="nav-text" th:text="#{user_form}">User Form</span>
                </a>
            </li>

            <li>
                <a th:href="@{/user-list}">
                    <i class="fs-grid-6"></i>
                    <span class="nav-text" th:text="#{user_list}">User List</span>
                </a>
            </li>

            <li>
                <a th:href="@{/role-form}">
                    <i class="sli-users"></i>
                    <span class="nav-text" th:text="#{role_form}">Role Form</span>
                </a>
            </li>

            <li>
                <a th:href="@{/role-list}">
                    <i class="fs-grid-3"></i>
                    <span class="nav-text" th:text="#{role_list}">Role List</span>
                </a>
            </li>

        </ul>

    </div><!-- END: sidebar-inner -->

</aside>    <!-- END: Side Navigation -->